*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 40%;
    border: 3px solid white;
    border-radius: 50px;

}
.navbar{
         display: flex;
}

.nav-list{
         width: 50%;
         /* background-color: black; */
         display: flex;
         align-items: center;
}
.nav-list li{
          list-style: none;
          padding: 26px 36px;
}

.nav-list li a{
         color: white;
         text-decoration: none;
}

.nav-list li a:hover{
    color: grey;
 
}
.rightnav{
         /* background-color: black; */
         width: 50%;
         text-align: right;
       /* display: flex; */
         text-align: center;
          justify-items: right;
}
#search{
    padding: 6px 14px 0px 48px;
    margin: 22px 4px;
    border: 0px solid black;
    border-radius: 66px 4px;
}


button{
    border: 6px solid black;
    border-radius: 53px 30px;
    padding: 5px;

}

.background{
    background: rgba(0, 0, 0, 0.7)url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


.firstsection{
    height: 100vh;
}


.box-main{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firsthalf{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.secondhalf{
  width: 30%;
}

.secondhalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.box-main button .btn{
    list-style: none;
    text-decoration: none;
}

.box-main button li{
    list-style: none;
}

.box-main button li a{

    color: black;
}


.box-main button li a:hover{
    color:white;
}

